.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  /* background: url("./bg.jpg") no-repeat center; */
  background: linear-gradient(to right, rgba(200, 30, 100), rgba(100, 30, 200));
  background-size: cover;
}

#appScreen {
  display: none;
}

#contactListScreen {
  display: none;
}

.phone {
  background: url(https://images.pexels.com/photos/24531988/pexels-photo-24531988/free-photo-of-historical-deutsche-orient-bank-building-in-istanbul-turkey.jpeg)
    no-repeat center;
  background-size: cover;
}

.phone {
  width: 300px;
  height: 600px;
}

.phone::-webkit-scrollbar {
  display: none;
}

#notification {
  background-color: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);

  height: 45px;
  position: sticky;
  top: 0;
  z-index: 999;
}

#lockScreen {
  height: 100%;
  transform: translatey(-45px);
}
.lock-Screen-clock {
  height: 250px;
  font-size: 6rem;
  font-weight: bolder;
}

.slider-container {
  top: 75px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}

.slider {
  appearance: none;
  z-index: 99;
  background-color: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  background: radial-gradient(rgb(191, 36, 199), rgb(57, 75, 231));

  border-radius: 80%;
  background-size: cover;
}

.slider-label {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#appScreen {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
}

.searchIcon {
  top: 3px;
  right: 12px;
}
