@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css");

body {
  font-size: 20px;
}

.wrapper {
  background: linear-gradient(to right, rgba(200, 30, 100), rgba(100, 30, 200));
  background-size: cover;
}

.phone {
  background: url(https://images.pexels.com/photos/24531988/pexels-photo-24531988/free-photo-of-historical-deutsche-orient-bank-building-in-istanbul-turkey.jpeg);
  background-size: cover;
  background-position: center;
}

.phone {
  width: 420px;
  height: 900px;
  border-radius: 50px;
}
#appScreen {
  display: none;
}

#contactListScreen {
  display: none;
}
.phone::-webkit-scrollbar {
  display: none;
}

.notification {
  background-color: rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0px;
  z-index: 999;
}

.sliderContainer {
  top: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

.slider {
  appearance: none;
  z-index: 99;
  background-color: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  background: radial-gradient(rgb(86, 116, 199), rgb(12, 30, 189));

  border-radius: 50%;
  background-size: cover;
}

.slider-label {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
}

#appScreen {
  background-color: rgba(0, 0, 0 0.1);
  backdrop-filter: blur(10px);
}

.searchIcon {
  top: 3px;
  right: 12px;
}

.icon {
  cursor: pointer;
}

.lockScreenTime {
  font-size: 8rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}
