root{
--primary-color: #000;
}
body{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #d36565, #d54848);
}
.wrapper{
    min-width: 100vw;
    min-height: 100vh;
}

.my-list-h1{
    font-size: 4rem;
}

.phone{
    width: 450px;
    height:850px;
    border-radius: 50px;
}

.lock-screen{
    height: 100%;

}
.slider-container{
    width: 95%;
    height: 100px;
    background-color: #fff;
    border-radius: 50px;
    position: relative;   
    transform: translateY(-150px);
}


.label{
    position: absolute;
    top: 40%;
    left: 35%;
}

.slider {
    appearance: none;
    background-color: transparent;
    position: absolute;
    width: 90%;
    top:25%;
    left: 5%;
}

.slider::-webkit-slider-thumb {
    appearance: none; 
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%; 
    cursor: pointer;
}

.home-screen{
    height: 100%;
    width: 100%;
}
.contact-icon{
    font-size: 5rem;
    padding:-10px;
    color:#5eeeee

}
.search-btn{
    appearance: none;
    background-color: transparent;
}

.Contact-list-h1{
    color:#5eeeee;
    font-size:4rem
}
.search-bar{
    position: relative;
}
.search-icon{
    position: absolute;
    top: 25%;
    left:90%;
}

.user-img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

}
